<mat-toolbar color="primary">
  <img src="assets/images/image.png" width="80" />
  <span class="spacer"></span>
  <button mat-flat-button color="primary">Characters</button>
  <button mat-flat-button color="accent">Locations</button>
  <button mat-flat-button color="primary">Episodes</button>
  <span class="spacer"></span>
  <mat-form-field appearance="fill">
    <input matInput type="text" [(ngModel)]="value" />
    <button
      *ngIf="value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="value = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</mat-toolbar>

<router-outlet></router-outlet>
